*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.3em;
}

p {
    font-weight: 300;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000000;
}

.title {
    margin: 20px 0 0 20px;
    line-height: 1em;
}

content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "search sector ."
        "footer footer footer";
}

.search {
    grid-area: search;
}

header {
    height: 200px;
    grid-area: header;
    background-image: linear-gradient(rgb(201, 201, 214), #EEEEEE);
    text-align: left;
}

nav {
    height: 60px;
    grid-area: nav;
    background: #ffffff;
    margin-bottom: 6px;
}

section {
    height: auto;
    grid-area: sector;
    background-color: rgba(240, 240, 240, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_container {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px 50px;
    position: relative;
    overflow-wrap: break-word;
    inline-size: 340px;
    transition: ease-in-out 0.2s;
}

.img_container img {
    height: 300px;
    width: auto;
}

/* klasa dodawana w js */
.img_container_big{
scale: 103%;
box-shadow: 10px 6px 8px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #FFFFFF;
    height: 70px;
    font-size: x-large;
    grid-area: footer;
    background-image: linear-gradient(#EEEEEE, rgb(201, 201, 214));
    padding: 5px;
}

nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

ul li:first-child {
    margin-left:0;
}

nav li {
 text-transform: uppercase;
 font-weight: 600;
 font-size: 1.5em;
 text-align: center;
 margin: 10px;
 width: 250px;
 padding: 11px;
 display: inline;
 transition: ease-in-out 0.3s;
}

li:hover {
    cursor: pointer;
}

a:active {
color: #9e9e9e;
}

ul li a {padding: 10px}

/* klasa dodawana w js */
.biger_nav {
    font-size: 1.8em;
    color: #303030;
    transition: ease-in-out 0.3s;
}

.fixed {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 2;
}

button, input {
    border: 1px solid black;
    padding: 8px;
    margin: 2px;
    background-color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

/* poszczególne strony */
.sector2 {
    display: flex;
    width: 1000px;
}

.text {
    margin: 20px;
}

img {
    width: 600px;
    height: 600px;
}

.mini_img {
    width: 150px;
    height: 150px;
    transition: ease-in-out 0.5s;
}

.mini_img :hover {
    cursor: pointer
}

.nm_img {
    width: 480px;
    height: 480px;
}

.grey {
    background-color: #EEEEEE;
    padding: 10px;
}

.white {
    padding: 10px;
}

#n1{
    height: 400px;
    width: auto;
    margin-top: 10px;
}

#n2{
    height: 400px;
    width: auto;
    margin-top: 10px;
}

.secret {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15000px;
}

@media screen and (max-width: 1000px){
    content {
        grid-template-areas: 
            "header header header"
            "nav nav nav"
            ". search ."
            ". sector ."
            "footer footer footer";
    }
    .sector2 {
        width: 375px;
        flex-wrap: wrap;
    }
    img{
        width: 375px;
        height: auto;
    }
}