*{
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3em;
}

p {
    font-weight: 300;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000000;
}

content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        ". sector ."
        "angle angle angle"
        "footer footer footer";
}

header {
    height: 200px;
    grid-area: header;
    background: #EEEEEE;
    text-align: left;
}

nav {
    height: 60px;
    grid-area: nav;
    background: #A5A5A5;
}

section {
    height: auto;
    grid-area: sector;
    background: rgba(240, 240, 240, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_container {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(117, 117, 117);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.img_container img {
    height: 300px;
    width: auto;
}

img {
    width: 600px;
    height: 600px;
    border: 3px solid rgb(141, 141, 141);
}

.mini_img {
    width: 150px;
    height: 150px;
}

footer {
    height: 300px;
    grid-area: footer;
    background: #D9D9D9;

}

#angle {
    grid-area: angle;
    height: 300px;
    transform: skew(85deg);
    background: #D9D9D9;
}

.sector2 {
    display: flex;

}

.text {
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: column;
}

nav li {
 text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    text-align: center;
    background-color: rgb(224, 224, 224);
    margin: 10px;
    width: 250px;
    padding: 11px;
    display: inline;
}
li:hover {
    background-color: red;
    cursor: pointer;
}

ul li a {padding: 10px}